
.search-box {
	position:relative;width: 70%;margin-top: 5vh;background-color: var(--c-blue);
	margin-left: 15%;
}
.search-box input {
	position:relative;display: inline-block;width: calc(85% - 4vh);padding: 2vh;
	color: var(--c-white);z-index: 3;border: none;outline: none;
	font-size: 3vh;font-family: Segoe3;background-color: var(--c-blue);
}
.search-box ::placeholder {font-size: 3vh;}
.search-box label {
	position:absolute;top: 2vh;left: 2vh;font-size: 3vh;font-family: Segoe3;
	color: var(--c-white);z-index: 5;transition: all 0.2s ease-in-out;
}
.search-box ::placeholder {color: white !important;}
.search-btn {
	display: inline-block;position:relative;width: 15%;text-align: right;
	vertical-align: top;cursor: pointer;
}
.search-btn img {height: 5vh;display: inline-block;margin-top: 5%;}
.explain-register {
	color: var(--c-dgray);font-size: 0.75vw;
	margin: 1vw;text-align: center;position:relative;display:block;
}
.darktitles .explain-register {color: white !important;}

.recent-grid {
	position:relative;display: grid;width: 100%;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;row-gap: 4vh;margin-top: 2vh;
}
.recent-in-grid {
	position:relative;display:inline-grid;overflow-x: hidden;
}
.recent-in-grid a {text-decoration: none;}
.recent-banner {
	position:relative;width: 100%;display:block;background-size: cover;
	background-position: center;padding-top: 50%;
}
.recent-info {
	width: 100%;position:relative;text-align: left;display:block;margin-top: 1vh;	
}
.recent-pack-title, .recent-pack-creator {display:block;position:relative;transition: color 0.2s ease-in-out;}
.recent-pack-title {font-family: 'Minecraft Ten';color: var(--c-dgray);font-size: 3.5vh;}
.recent-pack-creator {font-family: Segoe3;font-size: 2.5vh;color: var(--c-dgray);font-weight: bold;}
.fl-right {float: right;position:relative;}

.recent-in-grid:hover .recent-pack-title {color: var(--c-blue);}
.recent-in-grid:hover .recent-pack-creator {color: var(--c-blue);}
.load-more {
	position:relative;display:block;text-align: center;padding: 1vh 0;
	font-family: 'Minecraft Ten';color: var(--c-white);font-size: 3.5vh;
	cursor: pointer;background-color: var(--c-dgray);
	width: 32%;margin: 4vh 0 0 34%;
}
.darktitles .load-more {color: white !important;background-color: #4ce253 !important;}


@media (max-width: 980px) {
	.recent-grid {width: 100%;grid-template-columns: 47.5% 47.5%;column-gap: 5%;}
	.recent-banner {width:100%;padding-top:10vh;}

	.recent-pack-title {font-size: 1.75vh;}
	.recent-pack-creator {font-size: 1.25vh;}

	.search-box {margin-top: 5vh;margin-left: 10%;width: 80%;}
	.search-box input {width: calc(85% - 2vh);padding: 1.25vh 1vh 0.75vh 1vh;font-size:1.75vh !important;}
	.search-btn {width: 15%;height: 3vh;}
	.search-btn img {height: 100%;margin-top: 15%;}
	::placeholder {font-size: 2vh;}

	.load-more {font-size: 2.5vh;width: 80%;margin-left: 10%;}
}